@import url('general.css');

.main {
    display: flex;

}


.container-cart{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.to-checkout-section {
    padding-top: 15%;
    line-height: 3em;
}

table{
    font-size: 24px;
    margin: 30px;

}

th, td {
    padding: 30px;
}

th {
    background-color: var(--dark-page-darker);
}