body{
    background-color: var(--dark-page-dark);
    color: white;
    line-height: 1.6;
}

.anime {
    display: flex;
    justify-content: center;
}

.anime table {
    display: block;
    width: 80vw;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.25em;
}

.hide {
    display: none;
}

.anime tbody tr td {
    padding: 0 20px;
}

.anime tbody tr:nth-child(even) {
    background-color: var(--dark-page-darker);
}

.anime tbody tr:nth-child(even):hover {
    background-color: var(--dark-page-medium);
}

.anime tbody tr:hover {
    background-color: var(--dark-page-medium);
}