body{
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
}



.btn-back {
    position: fixed;
    top: 100px;
    user-select: none;
    z-index: 1000;
}

.btn-back button {
    padding: 30px;
    border: none;
    background-color: var(--dark-page-medium);
}

.btn-back button:active {
    background-color: var(--dark-page-light);
}

.btn-back button:hover {
    background-color: var(--dark-page-light);
}



.selection {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.selection button {
    height: 20vw;
    width: 20vw;
    font-size: 2em;
    border: none;
    background-color: var(--dark-page-medium);
}

.selection button:active {
    background-color: var(--dark-page-light);
}

.selection button:hover {
    background-color: var(--dark-page-light);
}



.anime {
    display: flex;
    justify-content: center;
}

.anime table {
    display: block;
    width: 80vw;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.25em;
}

.anime tbody tr td {
    padding: 0 20px;
}

.anime tbody tr:nth-child(even) {
    background-color: var(--dark-page-darker);
}

.anime tbody tr:nth-child(even):hover {
    background-color: var(--dark-page-medium);
}

.anime tbody tr:hover {
    background-color: var(--dark-page-medium);
}



.schale {

}

.fading-element {
    transition: 0.3s ease-in-out;
    visibility: hidden;
    position: fixed;
    transform: translateY(-10vh);
    opacity: 0;
}

.show {
    visibility: visible;
    position: static;
    transform: translateY(0);
    opacity: 1;
}
