body{
    background-color: var(--dark-page-dark);
    color: white;
    line-height: 1.6;
}

table{
    width: 100%;
    font-size: 24px;
    margin: 30px;
}

tbody tr:nth-child(even) {
    background-color: var(--dark-page-darker);
}


tbody tr:nth-child(even):hover {
    background-color: var(--dark-page-medium);
}

tbody tr:hover {
    background-color: var(--dark-page-medium);
}