:root {
    --dark-page-light: #555566;
    --dark-page-medium: #444455;
    --dark-page-dark: #333344;
    --dark-page-darker: #222233;

    --light-page-light: #FFFFFF;
    --light-page-medium: #DDDDE0;
    --light-page-dark: #888899;
    --light-page-darker: #555566;
    
    --color-normal: #FF3355;
    --color-light: #FF7799;

    --tint-normal: #FF335533;
    --tint-light: #FF779933;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark-page-dark);
    color: white;
}

.first-element{
    padding-top: 80px;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

button {
    color: white;
}
