@import url('general.css');

body{
    background-color: var(--dark-page-dark) !important;
    color: var(--light-page-medium) !important;
    line-height: 1.6 !important;
}

.header{
    text-align: center;
    background-color: var(--dark-page-darker) !important;
}

.introText p {
    margin: 0;
}

.introText{
    text-align: center;
    background-color: var(--dark-page-darker);
    padding: 70px;
    font-size: 25px;
    line-height: 2;
}

.image-container{
    position:relative !important;
    text-align: center !important;
}

.background-image{
    width: 100% !important;
    height: 500px!important;
    object-fit: cover;
}

.centered-text{
    position:absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: var(--light-page-light) !important;
}

.popular{
    text-align: center;
    padding: 2rem 1rem;
}

.popular h2{
    margin-bottom: 1.5rem;
}

.popular-apps{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    padding: 150px;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.item-4{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}