@import url('general.css');

body{
    background-color: var(--dark-page-dark) !important;
    color: var(--light-page-medium) !important;
    line-height: 1.6 !important;
}

.header{
    text-align: center;
    background-color: var(--dark-page-darker) !important;
}

.introText p {
    margin: 0;
}

.introText{
    text-align: center;
    background-color: var(--dark-page-darker);
    padding: 70px;
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
    line-height: 2;
}

.image-container{
    position:relative !important;
    text-align: center !important;
}

.background-image{
    width: 100% !important;
    height: 500px!important;
    object-fit: cover;
}

.centered-text{
    position:absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    font-size: 6em;
    color: var(--light-page-light) !important;
}

.popular{
    text-align: center;
    padding: 2rem 1rem;
}

.popular h2{
    margin-bottom: 1.5rem;
}

.popular-apps{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    background-color: #ffffff;
  }
  
.grid-item {
    background: #eee;
    padding: 1rem;
    border-radius: 8px;
}
  
.grid-item img {
    width: 100%;
    border-radius: 8px;
}
  
.grid-item.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}