@import url('general.css');
.main {
    text-align: center;
}

.title {
    display: inline-block;
    font-size: 3em;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
}

fieldset div {
    padding: 10px;
    text-align: right;
}

input {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 0 15px;
}
