@import url('general.css');

.main {
    text-align: center;
    padding-top: 8vw;
}

.title {
    display: inline-block;
    font-size: 5em;
}

.switch-page {
    transform: translateX(30%);
}

#error-message{
    font-size: 1.5em;
    color: red;
    align-items: center;
    align-content: center;
    justify-content: center;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    padding: 50px;
    border-radius: 100px;
    background-color: var(--dark-page-medium);
    transform: translateX(50%);
}

fieldset div {
    padding: 0.75em 10px;
    transform: translateX(-25%);
    text-align: right;
}

input {
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 0 15px;
}
